html {
  /*The font appear smoother*/
  -webkit-font-smoothing: antialiased; /* only works on macOS */
  -moz-osx-font-smoothing: grayscale; /* only works on macOS */
  
  font-family: InterVariable, sans-serif;
  font-size: 1.2rem;

  background:#fff;
}

body{
  width: 100%;

  display: flex;
  flex-direction: column;
}


main{


  width:100%;
  display: flex;
}



