html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: InterVariable, sans-serif;
  background: #fff;

  scroll-behavior: smooth;

  /* 1. Taille par défaut pour MOBILE (et tout le monde) */
  font-size: 1rem; 
}

/* 2. Si l'écran est plus large que 768px (Tablette et PC), on grossit */
@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
}

body{
  width: 100%;
  min-height: calc(100vh - 60px);
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  color: var(--primary-text-color);
}


main{
  width:100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#article figure img{
  max-width: 100%;
}

.concept-tag{
  background-color: white;
}

#tsparticles{
  z-index:-1;
}

main > section{
  min-height: 100vh;
  width: 100%;
  max-width: 1500px;
}