* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--primary-text-color);
}

button{
  border: 0;
}


.katex-display{
  overflow: hidden;
  overflow-x: scroll;
}

