header{
  background-color: white;
  /* box model */
  width: 100%;
  height: 63px;

  border-bottom: 1px solid var(--primary-border-color);
}

header nav{

  /* box model */
  max-width: 1200px;
  width: 100%;
  
  height:100%;
  margin:auto;
  padding: 0 1rem;
}

@media (max-width: 1024px) {
  header nav{

    /* box model */
    max-width: 1200px;
    width: 100%;
    
    height:100%;
    margin:auto;
    padding: 0;
  }
}








header nav ul{

  /* box model */
  height: 100%;
  
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-header nav ul li{
  
  transition: transform 0.3s ease;
}

header nav ul li a{
  /* typography */
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
}

#main-header nav ul li:hover{
  transform: scale(1.1);
}

header nav ul li a:hover{
  color: var(--secondary-text-color);
}