.algorithm {
    border: 1px solid var(--primary-border-color);
    border-radius: 2px;
    padding: 15px;
    margin: 20px 0;
    background-color: #f9f9f9;
    font-family: monospace, Courier, 'Consolas', sans-serif;
    line-height: 1.4;
    font-size: 0.95em;
}

.algorithm h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--primary-text-color);
}

.meta {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--primary-border-color);
}

.keyword {
    font-weight: bold;
    color: var(--secondary-text-color);
}

.function {
    font-style: italic;
    font-weight: bold;
}

.for{
    position: relative;
}

.for .c{
    padding-left: 40px;
}

.for::before{
    content: '';
    position: absolute;

    left: 1em;
    top: 1.5em; /* Commence après la ligne */
    bottom: 1.5em; /* Se termine juste avant le dernier élément de la boucle */

    width: 1px; /* Ligne d'épaisseur zéro */
    border-left: 2px solid var(--primary-border-color); /* La ligne verticale */
}