#article{
    width: 900px;
    margin: 0 auto;
}

#article ol, 
#article ul{
  padding: 0px 40px;
}


#article li{
  padding: 2px 0px;
}

#article ul > li{
  list-style-type:disc;
}

#article ol > li{
  list-style-type:upper-roman;
}

.article li ul > li{
  list-style-type: square;
}


.remark,
.example,
.counterexample,
.proposition,
.theorem,
.problem,
.conjecture,
.definition,
.lemma,
.notation,
.proof,
table{
  margin: 1.5rem 0rem;
}

.paragraph{
  margin: 0.75rem 0rem;
}


.paragraph a{
  display: inline;
  text-decoration: underline;
}

.paragraph a:hover{
  text-decoration: none;
}

.counterexample > .label::before{
  content: "Contre-exemple.";
}

.example > .label::before{
  content: "Exemple.";
}

.remark > .label::before{
  content: "Remarque.";
}

.theorem > .label::before{
  content: "Théorème.";
}


.proof > .label::before{
  content: "Preuve.";
}

/*faire un aft'er pour le symbole qed*/
 

.proposition > .label::before{
  content: "Proposition.";
}

.problem > .label::before{
  content: "Problème.";
}

.conjecture > .label:before{
  content: "Conjecture.";
}

.definition > .label::before{
  content: "Définition.";
}

.lemma > .label::before{
  content: "Lemme.";
}


.notation > .label:before{
  content: "Notation.";
}

.example, 
.counterexample,
.notation,
.proof{

  font-weight: 200;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0px;
}

.definition, 
.remark, 
.theorem, 
.proposition, 
.problem, 
.lemma,
.paragraph{

  font-weight: 200;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}

.problem{
  border-left: rgba(171, 71, 188, 0.74) 2px solid;
  padding-left: 12px;
}

.label{

  font-weight: 700;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0px;
  padding-right: 3px;
}

.article h1, 
.article h2, 
.article h3, 
.article h4, 
.article h5, 
.article h6,
#article h1, 
#article h2, 
#article h3, 
#article h4, 
#article h5, 
#article h6{
  margin: 1.5rem 0rem;
  white-space: nowrap;
}





.paragraph, p, li, figcaption{

  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0px;
}




strong{

  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}


table{
  border-collapse: collapse;
}


td, th{
  border: 1px solid black;
  width: 50px;
  height:50px;
  text-align: center;
}


h1{

  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}

h2{

  font-weight: 700;
  font-size: 1.7rem;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}
h3{

  font-weight: 600;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}

h4{

  font-weight: 550;
  font-size: 1.1rem;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
}

hr{
  margin: 2rem 0rem;
}

a:hover{
  text-decoration: none;
}