/* =========================================
CONFIGURATIONS DE BASE
========================================= */
:root {
 --primary: #2c3e50e1;    /* Bleu nuit professionnel 2c3e50 */
 --accent: #3498db;     /* Bleu plus clair pour les liens/boutons */
 --bg-card: #ffffff;
 --bg-page: #ffffff;
 --text-main: #333;
 --text-light: #666;
 --radius: 12px;
 --shadow: 0 4px 20px rgba(0,0,0,0.08);
}

body {

 display: flex;
 justify-content: center;
 color: var(--text-main);
}

/* =========================================
LA CARTE PRINCIPALE (CONTENEUR)
========================================= */
.cv-card {
 width: 100%;
 max-width: 1500px;
 border-radius: var(--radius);
 overflow: hidden; /* Pour que rien ne dépasse des coins arrondis */
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 40px;
 box-sizing: border-box; /* Indispensable ! */
}


/* =========================================
1. BOUTON TÉLÉCHARGEMENT
========================================= */
.download-section {
    text-align: center;
}

.btn-cv {
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s;
    box-shadow: 0 4px 10px rgba(44, 62, 80, 0.3);
}

.btn-cv:hover {
    background-color: #2c3e50c7;
}

.btn-cv svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

/* =========================================
2. GRID COMPÉTENCES (Le cœur du sujet)
========================================= */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

 width: 100%;

  /*gap: 2rem;*/
 margin-bottom: 40px;
}

.skill-box {
  margin: 0.5rem;
 padding: 20px;
 border-radius: 8px;
}

.skill-title {
 font-weight: bold;
 display: block;
 margin-bottom: 10px;
 color: var(--primary);
}

.skill-list {
 list-style-type: disc;

 padding: 0;
 padding-left: 1rem;
 margin: 0;
 font-size: 0.95rem;
 color: var(--text-light);
}

.skill-list li::marker{
    color: var(--secondary-text-color);
}

.skill-list li { margin-bottom: 6px; }

/* Petit bonus pour Linux */
.linux-badge {
 background-color: #333;
 color: #fff;
 padding: 2px 6px;
 border-radius: 4px;
 font-size: 0.8rem;
 margin-left: 5px;
}

/* =========================================
3. QUALITÉS HUMAINES (Tags)
========================================= */
.soft-skills {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px;
}

.tag {
 background-color: #7551eb1a;
 color: var(--primary-text-color);
 padding: 8px 16px;
 border-radius: 10px;
 font-weight: 500;
 font-size: 0.9rem;
}

/* =========================================
4. CONTACT (Flex Row)
========================================= */
.contact-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 2rem;
 margin-top: 0.5rem;
}

.contact-item {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;

 padding: 0rem 0.5rem;
 
 border: 1px solid var(--primary-border-color);
 border-radius: 10px;
 text-decoration: none;
 color: var(--text-light);
 transition: color 0.2s;
 font-size: 0.85rem;
 transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Effet rebond */
}

.contact-icon {
 width: 3rem;
 height: 3rem;
 
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Effet rebond */
}

.contact-icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--primary);
}

.contact-item:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white !important;
}
.contact-item:hover .contact-icon svg {
    fill: white;
}
