/*partie css sur le footer*/

footer{
  display: flex;
  background-color: rgba(171, 71, 188, 0.08);
  height: 119px;
  border-top: 1px solid rgba(171, 71, 188, 0.38);
}

footer nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  height: 100%;
}


.previous a, .next a{
  background-color: rgb(171, 71, 188);
  color: rgb(255, 250, 238);
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;

  padding: 8px 16px;
  
  
  height: 24px;
  

  font-size:16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.previous a:hover, .next a:hover{
  background-color: rgba(171, 71, 188, 0.74);
}

.previous{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.next{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.previous p, .next p{
  font-weight: 500;
  line-height:22px;
  margin-top:8px;
  font-size:14px;
  color:rgb(39, 26, 56);
}