@import "01_settings/root.css";

@import "02_base/reset.css";
@import "02_base/base.css";

@import "03_layout/header.css";
@import "03_layout/footer.css";

@import "04_components/figure.css";
@import "04_components/footnotes.css";
@import "04_components/icon.css";
@import "04_components/inter.css";
@import "04_components/references.css";

@import "05_pages/algorithm.css";
@import "05_pages/article.css";
@import "05_pages/homepage.css";
@import "05_pages/project.css";

@import "06_trumps/utils.css";

@import "table.css";

@import "animation.css";
@import "components/carousel.css";

@import "/components/ScrollDown/ScrollDown.css";

@import "project-filter.css";
@import "cv.css";
@import "blog.css";
@import "translate.css";

@import "/components/TableOfContents/TableOfContents.css";

@import "/components/Carousel/Carousel.css";
@import "/components/New/News.css";
