/*
donc la si ca depasse de 400^px de haut' ca doit' faire un overflow hidden mais sans scroll,
*/


#news-container{
    margin: 2rem auto;
    max-width: 800px;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border: 1px solid var(--primary-border-color);
}

#news-container h2{}

#news-container ul{
    max-height: 75px;
    overflow: hidden;
    overflow: scroll;
    padding: 1rem;
    border: 1px solid var(--primary-border-color);
}

#news-container li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-border-color);
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
}

#news-container time{
}

.news-desc{}
