.references {

  /* typography */
  font-size: 16px;
  line-height: 1.5;

  /* box model */
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.2rem;
  
  /* other */
  list-style-type: none;
}

.references li {

  /* box model */
  margin-bottom: 1rem;

  /* layout */
  position: relative;
}

.author::after{

  /* generated content */
  content: ", ";
}

.cite{

  /* 
  les font size en px a changer en rem ?
  16px = 1rem
  typography */
  font-size: 16px;
  font-weight: 300;
  
  /* box model */
  padding: 0px 24px;

  /* layout */
  display:inline;
  position: relative;

  border-radius: 5px;
  transition: background-color 0.2s;
}
.cite:hover{

  /* background */
  background-color: rgba(0, 0, 0, 0.09);
}

.cite::before{

  /* box model */
  width: 20px;
  height: 20px;

  /* background */
  background-image: url("/assets/img/references/paper.svg");
  background-size: contain;
  background-repeat: no-repeat;

  /* layout */
  position: absolute;
  top: 0em;
  left: 0em;

  /* generated content */
  content: "";
}

.cite::after {

  /* layout */
  position: absolute;
  top: -0.2em;
  right: 0.6em;
  
  /* generated content */
  content: "↗";

  opacity: 0;
  transition: opacity 0.2s;
}

.cite:hover::after {

  opacity: 1;
}

.references li a{

  /* typography */
  color: var(--secondary-text-color);
  font-weight: 700;
  text-decoration: underline;
  white-space: nowrap;

  /* layout */
  display: inline;
}

.references li a:hover{

  /* typography */
  text-decoration: none;
}


#ref-goldreich-1999::before,
#ref-boudgoust-2023::before,
#ref-stephens-davidowitz-2015::before,
#ref-ajtai-1996::before,
#ref-lenstra-1982::before,
#ref-banaszczyk-1993::before,
#ref-hales-2015::before,
#ref-viazovska-2016::before,
#ref-cohn-henry-2016::before{
  
  /* box model */
  width: 20px;
  height: 20px;

  /* background */
  background-image: url("/assets/img/references/paper.svg");
  background-size: contain;
  background-repeat: no-repeat;

  /* layout */
  position: absolute;
  top: 0em;
  left: -2em;
  
  /* generated content */
  content: "";
}