.lang-check {
  display: none;
}

.lang-label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 80px;
  height: 30px;
  background-color: #eee;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  padding: 0 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 38px;
  height: 26px;
  background-color: white;
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.lang-text {
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  color: #555;
  user-select: none;
}

.lang-check:checked + .lang-label .slider {
  transform: translateX(38px);
}
