

.projects{

  width: 90%; 
  max-width: 1200px; 
}
.project-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr; 
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr 1fr; 
  }
}



.project-page{

  max-width: 1600px;
  width: 100%;

  height: 100%;
}
.project{
  aspect-ratio: auto;
}
@media (min-width: 768px) {
  .project{
    aspect-ratio: 5/3;
  }
}


.project{
  padding: 1rem;

  border: 1px solid rgb(218, 217, 220);
  border-radius: 10px;
    
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);

  transition: backdrop-filter 0.3s ease, box-shadow 0.3s ease;

}

.project:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
   }

.project-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description h3{
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: none;
  
  color:var(--secondary-text-color);
  margin: 0;
  padding: 5px;

}

.description h4{
  font-size: 1rem;
  text-align: center;

  padding-left: 3px;
  padding-right:3px;
}

.project p{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0px;
}

.skills{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  list-style: none;
}

.skills li{
  background-color: rgba(255, 255, 255, 0.45);
  border: 1px solid var(--primary-border-color);
  padding: 2px 8px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  font-size: 0.8rem;
}



.arrowForwardIcon{
  width: 18px;
  aspect-ratio: 1 / 1;
  padding-left: 8px;
  fill: black;
}

.arrowBackwardIcon{
    width: 18px;
    padding-left: 8px;
    fill: rgb(255, 250, 238);
}

.closeIcon{
  width: 24px;
  padding: 12px;
}

/**/
svg{
  display: block;
}


.links{
  font-size:0.8rem;
  line-height: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links a{
  color: var(--primary-text-color);
  text-decoration: underline;
}

.links a:hover{
  color:var(--secondary-text-color);
  text-decoration: none;
}




#project-title{
  margin: 1rem 0;
  text-align: center;
  color: var(--secondary-text-color);
}