

.projects{
  padding: 2rem;
  width: 90%;
  max-width: 1400px; 
}
.project-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr; 
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr 1fr; 
  }
}



.project-page{

  max-width: 1600px;
  width: 100%;

  height: 100%;
}
.project{
  aspect-ratio: auto;
  /* La transition est la clé : ça dit "Prends 0.3 secondes pour bouger" */
  transition: transform 0.3s ease, box-shadow 3s ease;
  cursor: pointer; /* Change la souris en main pour montrer que c'est cliquable */

}

/* 2. L'état survolé (Quand la souris est dessus) */
.project:hover {
    /* La carte remonte de 5 pixels */
    transform: translateY(-5px);
    
    /* L'ombre devient plus floue et plus large en dessous */
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}


@media (min-width: 768px) {
 
 
  .project{
    aspect-ratio: 5/3;
  }
}


.project{
  padding: 1rem;

  border: 1px solid rgb(218, 217, 220);
  border-radius: 10px;
    
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);

  transition: backdrop-filter 0.3s ease, box-shadow 0.3s ease;

}

.project:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
   }

.project-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description h3{
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: none;
  
  color:var(--secondary-text-color);
  margin: 0;
  padding: 5px;

}

.description h4{
  font-size: 1rem;
  text-align: center;

  padding-left: 3px;
  padding-right:3px;
}

.project p{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0px;
}



.links{
  font-size:0.8rem;
  line-height: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links a{
  color: var(--primary-text-color);
  text-decoration: underline;
}

.links a:hover{
  color:var(--secondary-text-color);
  text-decoration: none;
}




#project-title{
  padding-top: 2rem;
  text-align: center;
  color: var(--secondary-text-color);
}
#project-subtitle{
  padding-top: 1rem;
  text-align: center;
}

#project-page{
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 900px; width: 100%;
}