header{

  /* box model */
  width: 100%;
  height: 63px;
}

header nav{

  /* box model */
  max-width:1200px;
  height:100%;
  margin:auto;
  padding: 0 20px;
  
  border-bottom: 1px solid rgb(218, 217, 220);
}

header nav ul{

  /* box model */
  height: 100%;
  
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li{
  
  transition: transform 0.3s ease;
}

header nav ul li a{
  /* typography */
  color: var(--primary-text-color);
  font-weight: 200;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 0px;
  text-decoration: none;

}

header nav ul li:hover{
  transform: scale(1.1);
}
