.toc{

  /* box model */
  width:400px;
	height: 100vh;


	position: sticky;
  align-self: flex-start;
  top:0px;
	overflow-x:hidden;
	overflow: scroll;

  border-right: 1px solid rgb(218, 217, 220);
}

.huhu{
  /* box model */
  width: 32px;
  height: 100vh;


  position: sticky;
  align-self: flex-start;
  top:0px;


  border-right: 1px solid rgb(218, 217, 220);
  
}

.toc ul{
  list-style: none;
}

.chapter{
  background-color: rgba(171, 71, 188, 0.08);
  
  /* box model */
  margin: 16px;
  padding: 16px 48px;

  border-radius: 8px;
}

.toc{
  counter-reset: chapter subchapter;
}

.chapter > .num::before{
  counter-increment: chapter;

  /* generated content */
  content:"PARTIE " counter(chapter);
}

.chapter h3{
  /* typography */
	font-weight: 700;
	font-size: 16px;
}

.chapter > .num{
  /* typography */
  font-weight: 500;
	line-height: 1;
  font-size: 12px;
	text-transform: uppercase;
  color: rgb(166, 66, 182);
}

.chapter-content{
  /* box model */
  margin: 0rem 0.5rem;
  padding: 0rem 1rem;
}


.chapter-content ul li{
 
  /* typography */
  font-weight: 200;

  /* box model */
  padding: 12px 8px;
  margin: 0;



  border-radius: 5px;

  display: flex;
  align-items: center;
  flex-direction: row;

  position: relative;
}

.chapter-content ul li::after{

  /* box model */
  height: calc(100% + 32px);

  z-index: -1;
  position: absolute;
  
  top: -16px;
  left: 21px;
  border-left: 1px solid #dad9dc;

  /* generated content */
  content: " ";
}

.toc > ul > li:last-child .chapter-content ul li:last-child::after {
  border-left: 0;

  /* generated content */
  content: none;
}


.chapter-content ul li h4{

  /* typography */
  font-size: 16px;
	font-weight: 500;
	line-height: 26px;
  color: rgb(39, 26, 56);

  /* box model */
  width: 100%;
  padding-left:16px;

  /* layout */
  display: flex;
}

.chapter-content ul li .num{
background-color: #fff;
  z-index: 1;


  /* box model */
  margin:0;
  padding: 0;
  min-width: 24px;
  max-width: 24px;
  height: 24px;

  border: 1px solid rgb(96, 91, 104);
  border-radius: 50%;
  
  display:flex;
  justify-content: center;
  align-items: center;
    
  font-size: 12px;
  font-weight: 400;
  color: rgb(96, 91, 104);

}

.chapter-content ul li .num::before{
  counter-increment: subchapter;

  /* generated content */
  content:counter(subchapter);
}
.chapter-content ul{
  margin: 0;
  padding-left: 0;
}

.toc-head{
  /* box model */

  padding: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(218, 217, 220);

  align-items:center;
  justify-content: space-between;
}

.chapter-content ul li h4 a{
  font-weight: 500;
  text-decoration: none;
  color: #271a38;
}
.chapter-content ul li h4 a:hover{
  color: #7451eb;
}

button{ /*pas assez specifique*/
  background-color: white;
  border: 0;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover{
  background-color: rgba(218, 217, 220, 0.34);
}

button {
  display: flex;
  align-items: center;     /* centre verticalement */
  justify-content: center; /* centre horizontalement (optionnel) */
}

.huhu div{
  position: absolute;
  width:57px;
  height:48px;
  top: 150px;
  left: 33px;
  background-color: rgba(171, 71, 188, 0.08);
border-radius: 0px 32px 32px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#eee svg{

  width:24px;
  height:24px;
}