.paper{}

.book{}

.github{}

/*-----------------------*/
.qed{
  width: 1rem;
  height: 1rem;
}
.ArrowForwardIcon{
  width: 18px;
  padding-left: 8px;
  fill: rgb(255, 250, 238);
}

.ArrowBackwardIcon{
    width: 18px;
    padding-left: 8px;
    fill: rgb(255, 250, 238);
}



.backwardArrow{}.arrowForwardIcon{
  width: 18px;
  aspect-ratio: 1 / 1;
  padding-left: 8px;
  fill: black;
}

.arrowBackwardIcon{
    width: 18px;
    padding-left: 8px;
    fill: rgb(255, 250, 238);
}

.closeIcon{
  width: 24px;
  padding: 12px;
}



.icon{
  display: inline;
  width: 1rem;
  height: 1rem;
}








/* a remettre dans le bon fichier*/



.report{
  width: 2.2rem;
  height: 2.2rem;

  flex-shrink: 0; 
  
  box-sizing: border-box;

  background-color: rgba(235, 234, 238, 0.878);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  overflow: hidden;
  
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.report img{
  display: block; 
  width: 80%;
  height: auto;

  object-fit: contain; 
}


.report:hover{
  background-color: rgba(235, 234, 238, 0.609);
}

.github-link {
  width: 2.2rem;
  height: 2.2rem;
  
  flex-shrink: 0; 
  
  box-sizing: border-box;

  background-color: rgb(51, 51, 51, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  overflow: hidden;
  
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.github-link img {
  display: block; 
  width: 80%;
  height: auto;

  object-fit: contain; 
}

.github-link:hover {             
  background-color: rgb(51, 51, 51, 0.7);
}