#main-references{
  background-color: white;

}

.references {
  /* typography */
  font-size: 1rem;
  line-height: 1.5;

  /* box model */
  margin: 1rem 0;

  padding-left: 1.2rem;
  
  /* other */
  list-style-type: none;
}

.references ol{
  list-style-type: none;
}
.references li {

  /* box model */
  margin-bottom: 1rem;

  /* layout */
  position: relative;
}

.author::after{

  /* generated content */
  content: ", ";
}

.cite{
  /* typography */
  font-size: 1rem;
  font-weight: 300;
  
  /* box model */
  padding: 0 1.5rem;

  /* layout */
  display:inline;
  position: relative;

  border-radius: 5px;
  transition: background-color 0.2s;

  color: var(--primary-text-color) !important;
}
.cite:hover{

  /* background */
  background-color: rgba(0, 0, 0, 0.09);
}

.cite::before{

  /* box model */
  width: 1rem;
  height: 1rem;

  /* background */
  background-image: url("/assets/img/references/paper.svg");
  background-size: contain;
  background-repeat: no-repeat;

  /* layout */
  position: absolute;
  top: 0.1em;
  left: 0em;

  /* generated content */
  content: "";
}

.cite::after {

  /* layout */
  position: absolute;
  top: -0.2em;
  right: 0.3em;
  
  /* generated content */
  content: "↗";

  opacity: 1;
}


.references li a{

  /* typography */
  color: var(--secondary-text-color);
  font-weight: 700;
  text-decoration: underline;

  /* layout */
  display: inline;
}

.references li a:hover{

  /* typography */
  text-decoration: none;
}

.paper::before{
  
  /* box model */
  width: 1rem;
  height: 1rem;

  /* background */
  background-image: url("/assets/img/references/paper.svg");
  background-size: contain;
  background-repeat: no-repeat;

  /* layout */
  position: absolute;
  top: 4px;
  left: -2em;
  
  /* generated content */
  content: "";
}