/* ==================================================================================

                                   TABLE DES MATIÈRES

    TODO

    FIXME
   ================================================================================== */

/* conteneur principal */
#toc-container{
    position:fixed;
    top: 0px;
    left: 0px;

    height: 100vh;

    align-self: flex-start;
    background-color:white;
    z-index: 6;
}

/* ==================================================================================

                                   TABLE DES MATIÈRES : OUVERTE

   ================================================================================== */
   
/* conteneur */
#full-toc{
    position:fixed;
    top: 0px;
    left: 0px;
    
    max-width: 400px;
    height: 100vh;

    background-color: white;
    border-right: 1px solid var(--primary-border-color);
    border-radius: 4px;
}

@media (max-width: 768px) {
    #full-toc{
        width: 100%;
        height: 100%;
    }
}

/* en-tete */
    .toc-head{
       padding: 1rem;
       border-bottom: 1px solid var(--primary-border-color);
   
       display: flex;
       flex-direction: row;
       
       align-items: center;
       justify-content: space-between;
   }
   
   /*<h5>Table des matières</h5>*/
    .toc-head h5{
        margin: 0.6rem 0;
        font-size: 1rem;
    }

    /* Bouton de fermeture X*/
    #toc-close-button{
        border-radius: 50%;
        background-color: white; 
        border: 0;
        fill: var(--primary-text-color);
    
        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

    #toc-close-button:hover{
        background-color: rgba(218, 217, 220, 0.34);
    }


/*conteneur des chapitres*/

    #music{
        overflow: scroll;
        overflow-x: hidden;
        height: 100%;
        max-height: calc(100% - 88px);
    }

    /*chapitres*/
    .chapter{
        background-color: rgba(171, 71, 188, 0.08);
    
        margin: 1rem;
        border-radius: 8px;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .chapter:hover{
        background-color: rgba(171, 71, 188, 0.18);
    }

.chapter > a{
    display: block;

    padding: 16px 48px;
}

.chapter > a > .num{ /* chapitre 1, appendice 1*/
    font-weight: 500;
    line-height: 1;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgb(166, 66, 182);
}

.chapter h3{
    font-weight: 700;
    font-size: 1rem;
}

/*Sous-chapitre*/

.chapter-content{
    margin: 0rem 0.5rem;
    padding: 0rem 1rem;
}

.chapter-content ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.chapter-content li{
    font-weight: 200;
    
    padding: 0.66rem 0.5rem;
    margin: 0;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    
    position: relative;
}



.chapter-content h4{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 26px;
    
    width: 100%;
    padding-left: 16px;
    
    display: flex;
}

.chapter-content .num{
    background-color: #fff;
    z-index: 11;
    
    margin: 0;
    padding: 0;
    min-width: 1.5rem;
    max-width: 1.5rem;
    height: 1.5rem;
    border: 1px solid rgb(96, 91, 104);
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 0.7rem;
    font-weight: 400;
    color: rgb(96, 91, 104);
}

.chapter-content a{
    display: flex;
    align-items: center;
    
    width: 100%;
  
    text-decoration: none;
    color: inherit;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1); 
}
 
.chapter-content a:hover{
    color: #7451eb;
}


.chapter-content li::after{
    height: calc(100% + 32px);
    border-left: 1px solid var(--primary-border-color);
    content: " ";

    z-index: 10;
    position: absolute;
    top: -16px;
    left: 21px;
}

#full-toc > ul > li:last-child .chapter-content ul li:last-child::after {
    border-left: 0;
    content: none;
}

/* ==================================================================================

                                TABLE DES MATIÈRES : FERMÉE

===================================================================================== */

/* conteneur */
    #min-toc{
        position: fixed;
        top: 0px;
        left:0px;

        width: 32px;
        height: 100%;

        background-color: white;
        align-self: flex-start;
    
        border-right: 1px solid var(--primary-border-color);
    }

    @media (max-width: 768px) {
        #min-toc{
            width: 0px;
        }
    }

/* Bouton d'ouverture*/
    #toc-open-button{
        position: fixed; 
        top: 150px;
        left: 33px;
 
        width: 57px;
        height: 48px;
   
        background-color: rgba(171, 71, 188, 0.08);
        border-radius: 0px 32px 32px 0px;
   
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
   
    #toc-open-button:hover{
        background-color: rgba(171, 71, 188, 0.18);
     }  
    
    #toc-open-button svg{      
        width: 24px;
        height: 24px;
    }
   
    @media (max-width: 768px) {
        #toc-open-button{
           left: 1px;
           background-color: rgba(171, 71, 188, 0.18);
        }
    }